.navbar {
  display: flex;
  flex-direction: column;
  height: 97vh;
}

.mainContent {
  flex: 1;
  background-color: var(--lightGray);
  padding: 0;
  overflow: auto;
}

.dashboardContent {
  flex: 1;
  background-color: var(--lightGray);
}
